<h1>Dracula</h1>

<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit,
  sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
  Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
  nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
  reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
  pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
  culpa qui officia deserunt mollit anim id est laborum.
</p>

<button class="btn btn-primary" {{action 'showRealName'}}>Click here to learn Dracula's real name</button>
{{#if isPictureShowing}}
  <button class="btn btn-info" {{action 'hidePicture'}}>It's daytime, I must hide...come join me ;)</button>
  <p>
    <img src="http://vignette2.wikia.nocookie.net/uncyclopedia/images/b/b4/Count-chocula.jpeg/revision/latest?cb=20110419172355" alt="random choco drac" />
  </p>
{{else}}
  <button class="btn btn-info" {{action 'showPicture'}}>Click to see my pretty face ;) </button>
{{/if}}
